<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotpassword</title>
</head>
<body>
    <h1>forgotpassword</h1>
    <input type="email" id="email" placeholder="Enter email"> <br> <br>
    <input type="text"  id="mobile" placeholder="Enter mobile number"> <br><br>
    <button onclick="submit()">submit</button>
</body>
</html>